{% style %}.collection-loader { background: url("{{ 'loader.gif' | asset_url }}") center center no-repeat rgb(255 255 255 / 50%); }{% endstyle %}
<div
	class="collection-loader"
	x-show="loading"
></div>