.logo-animation {
	padding-top: 166px;
	padding-bottom: 166px;
	margin-right: auto;
	margin-left: auto;

	&__icon {
		width: 135px;
		height: 135px;
		margin-right: auto;
		margin-left: auto;
		overflow: hidden;
		transition: all 1s ease;
	}

	@include media-max(992px) {
		padding-top: 95px;
		padding-bottom: 95px;

		&__icon svg {
			transform: scale(0.7);
		}
	}
}
