<div class="grid-section">
  <div id="landing_menu_parent" class="grid-section__left">
  </div>
  <div class="grid-section__right">
    <div>
      <!-- FormCrafts iframe embed code -->
<iframe src='https://formcrafts.com/a/evdedzc?iframe=true&resizer=false&innerHeight=421' width='540' height='421' style='max-width:100%;border:0;box-shadow: 0 0 0 .5px rgba(30, 30, 30, .1), 0px 1px 2px rgb(30, 30, 30, .08);border-radius:3px'></iframe><a href="https://formcrafts.com/?utm_medium=powered">powered by formcrafts</a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "franchising",
    "settings": []
  }
{% endschema %}
