
<div class="grid-section">
  <div id="landing_menu_parent" class="grid-section__left">
  </div>
  <div class="grid-section__right">
    <div class="grid-section__right__container">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "ipekyol-corporate",
    "settings": []
  }
{% endschema %}

