<div class="logo-animation">
	<div class="logo-animation__icon" data-animate-width="135">
		{% render 'icon-logo' %}
	</div>
</div>

{% schema %}
{
  "name": "Logo animation",
  "presets": [
    {
      "name": "Logo animation"
    }
  ]
}
{% endschema %}
